
body {
  background-color: #000;
  color: rgb(255, 255, 255);
  font-family: 'zen_dotsregular';
  margin: 0%;
  width: 100%;
}

.pressy {
  border-radius: 5ch;
  border: none;
  background-color: #242424;
  padding: 10px 32px;
  text-align: center;
  border: 2px solid #4CAF50;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family: 'zen_dotsregular';
}

.pressy:hover {
  background-color: #000000;
  /* Green */
  color: #FFFF;
}

.test {
  border-style: inset;
  border-radius: 2ch;
  border: 8px;
  background-color: #000000;
  text-align: center;
}

.testy2 {
  border-style: inset;
  border-radius: 2ch;
  border: 80px;
  background-color: #000000;
  text-align: center;
  border-color: aliceblue;
}

.buton {
  display: flex;
  justify-content: center;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: red;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: red;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.finddisc {
  display: flex;
  justify-content: right;
  position: relative;
  top: 50px;
  left: 6%;
}

.picture {
  padding: 20px;
  background-color: #000;
}

.center {
  display: flex;
  justify-content: center;
}

.row {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  border-style: dotted;
  border-color: #242424;
  background-color: #242424;
  border-radius: .5ch;
  border-width: 5px;
  transition: 1.5s;
}

.row:hover {
  background-color: #000;
  border-style: inset;
}

.column1 {
  flex: 20%;
  flex-grow: 0;
  border-style: inset;
}

.column2 {
  flex: 50%;
  flex-grow: 0;
  border-style: inset;
}

.column3 {
  flex: 20%;
  flex-grow: 0;
  border-style: inset;
}

.column4 {
  flex: 10000%;
  flex-grow: 0;
  border-style: inset;
}

.MenuBarr {
  border-style: none;
  background-color: #000000;
  transition-duration: 0.4s;
  height: 50px;
  font-size: large;
  font-family: 'zen_dotsregular';
  color: aliceblue;
}

.MenuBarr:hover {
  background-color: #000000;
  /* Green */
  color: #FFFF;
}

.Informational {
position: relative;
  background-color: rgb(222, 240, 255);
  padding: 20px;
  border-color: #242424;
  border-radius: 50;
  width: 100%;
  margin: 0%;
  right: 25px;
  top: 20px;
  box-shadow: 20px 20px#000000;
  border-radius: 20px;
}

.Informational-Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  border-style:;
  border-color: #242424;
  padding: 50px;
  border-width:3mm;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 20px 20px#242424;
}

.Divvy2contactform {
  display: flex;
  justify-content: center;
  border-radius: 2ch;
  border-color: #4CAF50;
  border: 8px outset #4CAF50 background-color: #000000 text-align: center;
}

.Containweb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.rowflex {
  display: flex;
  justify-content: center;
}

.wemake {
  position: relative;
  top: 100px;
  font-family: 'zen_dotsregular';
}

.wantwebs {
  color: #A4BE7B;
  font-family: 'zen_dotsregular';
}

.cool {
  padding: 2px;
  font-size: larger;
  font-family: 'zen_dotsregular';
}

.wegood {
  font-family: 'zen_dotsregular';
  color: #CCD6A6;
}

.wemake2 {
  position: relative;
  top: 100px;
}

.arrow {
  position: relative;
  width: 100px;
  height: 150px;
  left: 1100px;
  bottom: 0px;
}

#lname {
  position: relative;
  left: 2px;
}

#age {
  position:relative;
 
}

#contact {
  position:relative;
}

.Submit {
  border-style: inset;
  border-color:#242424;
  border-width: 5px;
  border-radius: 5px;
  background-color: rgb(59, 71, 59);
  font-family: 'zen_dotsregular';
  color:aliceblue;
  padding: 20px;
}

.Submit:hover {
  transition-duration: 700ms;
  background-color: #242424;
}

.Index {
  color: #000;
  background-color: aliceblue;
  position: relative;
  border-style: none;
  padding: 50px;
  bottom: 45px;
}
.Index2 {
  position: relative;
  height: 100px;
  left: 50px;
  top: 64px;
  width: 70%;
  background-color: #000;
}

.Index3 {
  color: #000;
  background-color: aliceblue;
  position: relative;
  border-style: none;
  padding: 50px;
  bottom: 45px;
}

.indie4 {
  position:relative;
  top: 50px
}

.Index4 {
  background-color: aliceblue;
  position: relative;
  border-style: none;
  padding: 50px;
  bottom: 45px;
}
.indie5 {
  position: relative;
  top: 50px;
  right: 40px;
}