.Divvy1contactform {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 500px;
  border-radius: 2ch;
  border-color: #4CAF50;
  border: 8px outset #4CAF50 background-color: #000000 text-align: center;
  margin: 100px;
}

body {
  background-color: black;
  color: deepskyblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pressy {
  border-radius: 5ch;
  border: none;
  background-color: #242424;
  padding: 10px 32px;
  text-align: center;
  border: 2px solid #4CAF50;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pressy:hover {
  background-color: #000000;
  /* Green */
  color: #FFFF;
}

.test {
  border-style: inset;
  border-radius: 2ch;
  border: 8px;
  background-color: #000000;
  text-align: center;
}

.testy2 {
  border-style: inset;
  border-radius: 2ch;
  border: 80px;
  background-color: #000000;
  text-align: center;
  border-color: aliceblue;
}

.buton {
  display: flex;
  justify-content: center;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: red;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: red;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.finddisc {
  display: flex;
  justify-content: right;
}

.picture {
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.row {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  border-style: inset;
  border-color: #4CAF50;
  background-color: rgb(7, 84, 84);
  border-radius: .5ch;
  border-width: 5px;
}

.column1 {
  flex: 20%;
  flex-grow: 0;
}

.column2 {
  flex: 50%;
  flex-grow: 0;
}

.column3 {
  flex: 20%;
  flex-grow: 0;
}

.column4 {
  flex: 10000%;
  flex-grow: 0;
}

.MenuBarr {
  border-style: none;
  background-color: rgb(7, 84, 84);
  transition-duration: 0.4s;
  height: 50px;
  font-size: large;
}

.MenuBarr:hover {
  background-color: #000000;
  /* Green */
  color: #FFFF;
}

.Informational {
  border-style: inset;
  margin: 10%;
  margin-top: 50px;
  padding: 20px;
  border-color: #4CAF50;
  border-radius: 50px;
}

.Informational-Contact {
  border-style: inset;
  margin: 10%;
  margin-top: 50px;
  border-color: #4CAF50;
  border-radius: 50px;
  padding: 50px;
}

.Divvy2contactform {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 500px;
  border-radius: 2ch;
  border-color: #4CAF50;
  border: 8px outset #4CAF50 background-color: #000000 text-align: center;
}

.zakweblogo {
}

.Containweb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowflex {
  display: flex;
  justify-content: center;
}
